################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/littlevGL-test/.vs/littlevGL-test/v16
